body {
  font-family: 'Ubuntu', sans-serif;
}

.bg-dark {
  background: #3E4551 !important;
}

.module-title {
  color: #3F729B;
}

label {
  margin: 0;
}

.btn {
  padding: .84rem 2.14rem;
  font-size: .81rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: .375rem;
  border: 0;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff!important
}

.btn:active,
.btn:focus,
.btn:hover {
  outline: 0
}

.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-primary {
  background-color: #59698d !important;
  color: #fff!important
}

.btn-primary:hover {
  background-color: #63759d;
  border-color: #63759d;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus {
  background-color: #323a4e
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
